:root {
    --interface-size-container: 48px;
    --interface-size-content: 48px;

    --interface-duration: 0.2s;
    --interface-background: rgba(0, 0, 0, 0.5);

    --interface-color-black: black;
    --interface-color-smoke: whitesmoke;
    --interface-color-white: white;

    --interface-color-hover: #ebebeb;
    --interface-color-active: #e1e1e1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --interface-color-black: whitesmoke;
        --interface-color-smoke: #363636;
        --interface-color-white: #242424;

        --interface-color-hover: #484848;
        --interface-color-active: #606060;
    }
}

.interface-overlay {
    z-index: 999;
    overflow: hidden; touch-action: none;
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
}
.interface-container {
    position: absolute;
    max-width: 100%; max-height: 100%;
}

.interface-content {
    overflow-y: auto;
}

.interface-bar {
    width: 100%; min-height: var(--interface-size-container);
    padding: 0px 0px 0px calc(calc(var(--interface-size-container) - var(--interface-size-content)) / 2);
    display: flex; justify-content: end; align-items: center;
    background-color: var(--interface-color-smoke);
}
.interface-title {
    flex: 1;
    width: 100%; height: var(--interface-size-content); padding: 8px 8px 8px 24px;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: start; align-items: center;
}
.interface-button {
    position: relative;
    aspect-ratio: 1 / 1; height: var(--interface-size-content);
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: center; align-items: center;
}
.interface-button:hover {
    background-color: var(--interface-color-hover);
}
.interface-button:active {
    background-color: var(--interface-color-active);
}

.interface-expand > div {
    content: "";
    position: absolute;
    background-color: var(--interface-color-black);
}
.interface-expand > div:nth-of-type(1) {
    top: 32%; left: 32%;
    width: calc(var(--interface-size-content) * 0.1); height: 2px;
}
.interface-expand.isExpanded > div:nth-of-type(1) {
    top: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px); left: 32%;
}
.interface-expand > div:nth-of-type(2) {
    top: 32%; left: 32%;
    width: 2px; height: calc(var(--interface-size-content) * 0.1);
}
.interface-expand.isExpanded > div:nth-of-type(2) {
    top: 32%; left: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px);
}
.interface-expand > div:nth-of-type(3) {
    top: 32%; right: 32%;
    width: calc(var(--interface-size-content) * 0.1); height: 2px;
}
.interface-expand.isExpanded > div:nth-of-type(3) {
    top: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px); right: 32%;
}
.interface-expand > div:nth-of-type(4) {
    top: 32%; right: 32%;
    width: 2px; height: calc(var(--interface-size-content) * 0.1);
}
.interface-expand.isExpanded > div:nth-of-type(4) {
    top: 32%; right: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px);
}
.interface-expand > div:nth-of-type(5) {
    right: 32%; bottom: 32%;
    width: calc(var(--interface-size-content) * 0.1); height: 2px;
}
.interface-expand.isExpanded > div:nth-of-type(5) {
    right: 32%; bottom: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px);
}
.interface-expand > div:nth-of-type(6) {
    right: 32%; bottom: 32%;
    width: 2px; height: calc(var(--interface-size-content) * 0.1);
}
.interface-expand.isExpanded > div:nth-of-type(6) {
    right: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px); bottom: 32%;
}
.interface-expand > div:nth-of-type(7) {
    bottom: 32%; left: 32%;
    width: calc(var(--interface-size-content) * 0.1); height: 2px;
}
.interface-expand.isExpanded > div:nth-of-type(7) {
    bottom: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px); left: 32%;
}
.interface-expand > div:nth-of-type(8) {
    bottom: 32%; left: 32%;
    width: 2px; height: calc(var(--interface-size-content) * 0.1);
}
.interface-expand.isExpanded > div:nth-of-type(8) {
    bottom: 32%; left: calc(32% + calc(var(--interface-size-content) * 0.1) - 2px);
}

.interface-close::before,
.interface-close::after {
    content: "";
    position: absolute; top: 50%; left: 50%;
    width: calc(var(--interface-size-content) * 0.36); height: 2px;
    background-color: var(--interface-color-black);
}
.interface-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.interface-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
