#download {
    width: 256px; height: var(--size-button-normal); padding: 0px 16px 0px 16px;
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: start; align-items: center; gap: 8px;
    border-radius: var(--radius--button-normal);
}
#download:hover {
    background-color: var(--color-hover);
}
#download:active {
    background-color: var(--color-active);
}
