.menu-button {
    width: 128px; height: 64px;
}

.page {
    overflow-y: auto;
    width: 100%; height: 100%; padding: 8px 0px 8px 0px;
    display: flex; flex-direction: column; justify-content: start; align-items: center;
}

.item {
    width: 100%; max-width: 720px; padding: 12px 32px 12px 32px;
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: start; align-items: center; gap: 16px;
    font-size: 15px;
}
.item:hover {
    background-color: var(--color-hover);
}
.item:active {
    background-color: var(--color-active);
}
