#menu-overlay {
    z-index: 999;
    overflow: hidden; touch-action: none;
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex; justify-content: start; align-items: center;
    transition: opacity var(--transition-duration) ease;
    background-color: var(--color-translucent-overlay);
}

#menu-container {
    overflow-y: auto;
    transform: translateX(-100%);
    width: 100%; height: 100%; max-width: 320px; padding: 8px 8px 24px 8px;
    display: flex; flex-direction: column; justify-content: start; align-items: center; gap: 8px;
    transition: transform var(--transition-duration) ease;
    background-color: var(--color-white);
}
#menu-container.show {
    transform: translateX(0);
}

@media (max-width: 360px) {
    #menu-container {
        max-width: none;
    }
}

#menu-bar {
    width: 100%; height: 48px; padding: 0px;
    display: flex; flex-direction: column; justify-content: start; align-items: end;
}

#menu-close {
    aspect-ratio: 1 / 1; height: var(--size-normal);
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: center; align-items: center;
    border-radius: var(--radius-normal);
}
#menu-close:hover {
    background-color: var(--color-hover);
}
#menu-close:active {
    background-color: var(--color-active);
}

.menu-block {
    width: 100%; height: 64px; padding: 8px;
    display: flex; flex-direction: column; justify-content: start; align-items: center;
}
#menu-block-action {
    flex: 1;
}

.menu-item {
    width: 100%; height: var(--size-normal); padding: 0px 16px 0px 16px;
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: start; align-items: center; gap: 8px;
    border-radius: var(--radius-normal);
}
.menu-item:hover {
    background-color: var(--color-hover);
}
.menu-item:active {
    background-color: var(--color-active);
}
