.config-container {
    transform: scale(0.95);
    width: min(80%, 640px); height: min(64%, 640px);
}
.config-container.show {
    transform: scale(1.0);
}

@media (max-width: 640px) {
    .config-overlay {
        justify-content: center; align-items: end;
    }
    .config-container {
        transform: translateY(100%);
        width: 100%; height: 50%;
    }
    .config-container.show {
        transform: translateY(0);
    }
}

.config-content {
    width: 100%; height: 100%;
}

.config-content > div {
    overflow-y: auto;
    width: 100%; height: 100%; padding: 0px 0px 16px 0px;
    display: flex; flex-direction: column; justify-content: start; align-items: center;
}

.config-category {
    width: 100%; max-width: 720px; padding: 16px 48px 0px 48px;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: start; align-items: center;
    font-size: 14px;
    color: var(--color-gray);
}

.config-item {
    width: 100%; max-width: 720px; padding: 0px 32px 0px 32px;
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; justify-content: start; align-items: center; gap: 16px;
    font-size: 15px;
}
.config-item:hover {
    background-color: var(--color-hover);
}
.config-item:active {
    background-color: var(--color-active);
}

.config-divider {
    width: calc(100% - 0px); max-width: 720px; min-height: 1px;
    user-select: none; -webkit-user-select: none;
    background-color: var(--color-smoke);
}

.config-label {
    flex: 1;
    padding: 12px 0px 12px 0px;
}

.config-checkbox {
    position: relative;
    aspect-ratio: 1 / 1; height: 32px;
}
.config-checkbox::before {
    content: '';
    position: absolute; top: 8px; left: 2px; width: 24px; height: 12px;
    transition: border-color var(--transition-duration) ease;
    border: 2px solid var(--color-black); border-radius: var(--radius-normal);
}
.config-checkbox::after {
    content: '';
    position: absolute; top: 12px; left: 7px; width: 8px; height: 8px;
    transition: transform var(--transition-duration) ease, background var(--transition-duration) ease;
    background: var(--color-black);
    border-radius: 50%;
}
.config-checkbox.checked::after {
    transform: translateX(10px);
    background: limegreen;
}

.config-seekbar {
    appearance: none; -webkit-appearance: none; -moz-appearance: none;
    height: 100%;
    cursor: pointer;
    background: transparent;
}
.config-seekbar::-webkit-slider-runnable-track {
    appearance: none; -webkit-appearance: none;
    width: 100%; height: 2px;
    background: var(--color-black);
    border-radius: 2px;
}
.config-seekbar::-webkit-slider-thumb {
    appearance: none; -webkit-appearance: none;
    width: 16px; height: 16px; margin-top: -7px;
    background: var(--color-white);
    border: 1px solid var(--color-gray); border-radius: 16px;
}
.config-seekbar::-moz-range-track {
    width: 100%; height: 2px;
    background: var(--color-black);
    border-radius: 2px;
}
.config-seekbar::-moz-range-thumb {
    width: 16px; height: 16px;
    background: var(--color-white);
    border: 1px solid var(--color-gray); border-radius: 16px;
}
