#history-overlay {
    justify-content: start;
}

#history-container {
    transform: translateX(-100%);
    width: 100%; height: 100%; max-width: 320px;
}
#history-container.show {
    transform: translateX(0);
}

@media (max-width: 360px) {
    #history-container {
        max-width: none;
    }
}

#history-content {
    overflow-y: auto;
    position: relative;
    width: 100%; height: 100%; padding: 12px 0px 12px 0px;
    display: flex; flex-direction: column; justify-content: start; align-items: start;
}

#history-content > div {
    width: 100%; padding: 12px 24px 12px 24px;
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    display: flex; flex-direction: column; justify-content: center; align-items: start;
    font-size: 15px;
}
#history-content > div:hover {
    background-color: var(--color-hover);
}
#history-content > div:active {
    background-color: var(--color-active);
}
