.mokuji-overlay.overlay {
}
.mokuji-overlay.desktop {
    overflow: auto;
    flex: 0 1 auto;
    position: sticky; top: 16px;
    width: calc(100% - 820px); height: calc(100% - 32px); max-width: 320px; margin: 0px 0px 0px 16px;
}

.mokuji-spacer {
    flex: 1 1 0px;
    width: calc(100% - 1280px); height: 1px; max-width: 320px; min-width: 0px;
}

.mokuji-container {
    overflow: hidden;
    transform: translateY(100%);
    width: 100%; height: 100%;
}
.mokuji-container.show {
    transform: translateY(0);
}

.mokuji-content {
    overflow-y: auto;
    scrollbar-gutter: stable;
    width: 100%; height: 100%;
    user-select: none; -webkit-user-select: none;
    transition: color var(--transition-duration) ease;
    line-height: 1.6;
}
.mokuji-content.desktop {
    scrollbar-color: transparent transparent;
    padding: 0px;
    font-size: 14px;
    color: var(--color-gray);
}
.mokuji-content.mobile {
    scrollbar-color: inherit;
    padding: 16px;
    font-size: 15px;
    color: var(--color-black);
}
.mokuji-content:hover {
    scrollbar-color: inherit;
}

.mokuji-content ul {
    position: relative;
    margin: 0px; padding: 0px 0px 0px 0px;
    list-style: none;
}
.mokuji-content > ul {
    padding: 0px 0px 0px 0px;
}
.mokuji-content li {
    position: relative;
    padding: 0px 0px 0px 2em;
    list-style: none;
}
.mokuji-content > ul > li {
    padding: 0px 0px 0px 0px;
}

.mokuji-content li::before,
.mokuji-content li::after {
    content: '';
    position: absolute;
    transition: background-color var(--transition-duration) ease;
    background-color: var(--color-silver);
}
.mokuji-content li::before {
    top: 0; left: 1.5em;
    width: 1px; height: 100%;
}
.mokuji-content li::after {
}
.mokuji-content > ul > li::before,
.mokuji-content > ul > li::after {
    display: none;
}
.mokuji-content.mobile li::before,
.mokuji-content.mobile li::after {
    background-color: var(--color-border);
}
.mokuji-content.desktop li:hover:not(:has(li:hover))::before {
    background-color: var(--color-black);
}

.mokuji-content div {
    width: 100%;
    cursor: pointer;
}
.mokuji-content.desktop div {
    padding: 4px 1em 4px 1em;
}
.mokuji-content.mobile div {
    padding: 8px 1em 8px 1em;
    border-radius: var(--radius-normal);
}
.mokuji-content.desktop li:hover:not(:has(li:hover)) > div {
    color: var(--color-black);
}
.mokuji-content.mobile div:hover {
    background-color: var(--color-hover);
}
.mokuji-content.mobile div:active {
    background-color: var(--color-active);
}
.mokuji-content div.current {
    font-weight: bold;
    color: var(--color-black);
}
