.search-overlay {
    align-items: start;
}

.search-container {
    overflow: hidden;
    transform: scale(0.9);
    width: 100%; max-width: min(calc(var(--width-limit) - 128px), calc(100% - 256px)); max-height: calc(100dvh - calc(var(--size-normal) * 4));
    margin: calc(var(--size-normal) * 2) 0px 0px 0px; padding: 0px;
    border: 1px solid var(--color-border); border-radius: calc(var(--radius-normal) * 1.5);
}
.search-container.show {
    transform: scale(1.0);
}

.search-content {
    width: 100%;
    display: flex; flex-direction: column;
}

#search-bar {
    position: relative;
    width: 100%; height: 48px; min-height: 48px;
    display: flex; justify-content: center; align-items: center;
}

#search-input {
    width: 100%; height: 100%; max-height: 32px; padding: 0px 48px 0px 48px;
    outline: none; font-size: 1em;
    color: var(--color-black); background-color: var(--color-white);
    border: none;
    box-shadow: none;
}

#search-icon,
#search-clear {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 1 / 1; height: 100%; max-height: 48px;
    display: flex; justify-content: center; align-items: center;
}
#search-icon {
    left: 0;
}
#search-clear {
    right: 0;
    cursor: pointer;
}

@media (max-width: 800px) {
    .search-container {
        max-width: 100%; max-height: 100%; margin: 0px;
        transform: scale(1.0);
        border: none; border-radius: 0px;
    }
    .search-container.show {
        transform: scale(1.0);
    }
    .search-container #search-icon {
        transform: translateX(calc(100vw - 100%)) translateY(-50%);
        transition: transform var(--transition-duration) ease;
    }
    .search-container.show #search-icon {
        transform: translateX(0) translateY(-50%);
    }
    #search-bar {
        height: 64px; min-height: 64px;
    }
    #search-input {
        padding: 0px 64px 0px 64px;
    }
    #search-icon,
    #search-clear {
        max-height: 64px;
    }
}

#search-result {
    overflow-y: auto;
    width: 100%; height: 100%;
    user-select: none; -webkit-user-select: none;
    font-size: 0.9em;
    border-top: 1px solid var(--color-border);
}

#search-result > div {
    cursor: pointer;
    padding: 16px 24px 16px 24px;
}
#search-result > div:not(:last-child) {
    border-bottom: 1px solid var(--color-smoke);
}
#search-result > div:not(:first-child) {
    border-top: 1px solid var(--color-smoke);
}
#search-result > div:hover {
    background-color: var(--color-hover);
}
#search-result > div:active {
    background-color: var(--color-active);
}
#search-result > div > section {
    margin-top: 0px;
    margin-bottom: 0px;
}
