html, body {
    height: 100%;
}

header {
    height: calc(calc(100dvh / 2.2) - 64px);
    border-bottom: none;
}

@media (max-width: 640px) {
    header {
        height: 64px;
    }
}

main {
    flex: 1;
    width: 100%; margin: 0px auto; padding: 0px 32px 0px 32px;
}

#title {
    width: 100%; padding: 16px;
    display: flex; justify-content: center; align-items: center;
    font-family: serif; font-size: 24px; font-weight: bold;
    letter-spacing: 0.1em;
}

.button-container {
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}

.button-container > .left,
.button-container > .center,
.button-container > .right {
    flex: 1;
    max-height: var(--size-large); min-height: var(--size-large); padding: 0px 24px 0px 24px;
    user-select: none; -webkit-user-select: none;
}

.button-container > .left {
    display: flex; flex-direction: row; justify-content: start; align-items: center;
}

.button-container > .center {
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}

.button-container > .right {
    display: flex; flex-direction: row; justify-content: end; align-items: center;
}

@media (max-width: 1080px) {
    .button-container {
        padding: 0px 0px 16px 0px;
        flex-direction: column;
    }
    .button-container > .left,
    .button-container > .center,
    .button-container > .right {
        max-height: calc(var(--size-large) - 24px); min-height: calc(var(--size-large) - 24px);
    }
    .button-container > .left {
        justify-content: center;
    }
    .button-container > .center {
        justify-content: center;
    }
    .button-container > .right {
        justify-content: center;
    }
}

.button-container div {
    display: flex; justify-content: center; align-items: center;
    font-size: 14px;
    color: var(--color-gray);
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.button-link {
    cursor: pointer;
    user-select: none; -webkit-user-select: none;
    text-decoration: none;
    color: var(--color-gray);
}
.button-link:hover {
    text-decoration: underline;
}
.button-link:active {
    text-decoration: underline;
}

.index-container {
    transform: scale(0.95);
    width: min(90%, 720px); height: min(90%, 640px);
}
.index-container.show {
    transform: scale(1.0);
}

.help-content {
    overflow-y: auto;
    width: 100%; height: 100%; padding: 0px 16px 0px 16px;
}
