html, body {
    height: 100%;
}

main {
    flex: 1;
    width: 100%; margin: 0px auto; padding: 16px 32px 16px 32px;
}

header {
    border-bottom: none;
}

footer {
    font-size: 14px;
    color: var(--color-gray);
}

@media (max-width: 1080px) {
    footer {
        flex-direction: column;
    }
}

.center, .left, .right {
    flex: 1;
    max-height: var(--size-large); min-height: var(--size-large); padding: 16px 24px 16px 24px;
    user-select: none; -webkit-user-select: none;
}
.center {
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}
.left {
    display: flex; flex-direction: row; justify-content: start; align-items: center;
}
.right {
    display: flex; flex-direction: row-reverse; justify-content: end; align-items: center;
}
#help-button,
.center > a, .left > a, .right > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-gray);
}
#help-button:hover,
.center > a:hover, .left > a:hover, .right > a:hover {
    text-decoration: underline;
}
#help-button:active,
.center > a:active, .left > a:active, .right > a:active {
    text-decoration: underline;
}

#spacer {
    width: 100%; height: calc(100dvh / 3.6);
}

@media (max-width: 640px) {
    #spacer {
        display: none;
    }
}

#title {
    width: 100%; padding: 16px;
    display: flex; justify-content: center; align-items: center;
    font-family: serif; font-size: 24px; font-weight: bold;
    letter-spacing: 0.1em;
}
