#search-container {
    width: 100%; max-width: 640px;
    background-color: var(--color-smoke);
    border: 1px solid var(--color-hover);
    border-radius: var(--radius-normal);
}

#search-bar {
    position: relative;
    width: 100%; height: 48px; min-height: 48px;
    display: flex; justify-content: center; align-items: center;
}

#search-input {
    width: 100%; height: 100%; max-height: 32px; padding: 0px 48px 0px 48px;
    outline: none; font-size: 1em;
    color: var(--color-black); background-color: var(--color-smoke);
    border: none;
    box-shadow: none;
}

#search-icon,
#search-exec {
    position: absolute; top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 1 / 1; height: 100%; max-height: 48px;
    display: flex; justify-content: center; align-items: center;
}
#search-icon {
    left: 0;
}
#search-exec {
    right: 0;
    cursor: pointer;
}

#search-result {
    overflow-y: auto;
    width: 100%; height: 100%; padding: 4px;
    user-select: none; -webkit-user-select: none;
    font-size: 0.9em;
}

#search-result > a {
    width: 100%; height: 40px;
    cursor: pointer;
    display: flex; justify-content: start; align-items: center; gap: 4px;
    transition: background-color calc(var(--transition-duration) / 2); ease;
    text-decoration: none;
    border-radius: var(--radius-normal);
}
#search-result > a.selected {
    background-color: var(--color-hover);
}

#search-result > a > div:nth-child(1) {
    aspect-ratio: 1 / 1; height: 100%;
    display: flex; justify-content: center; align-items: center;
}

#search-result > a > div:nth-child(2) {
    overflow: hidden;
    width: 100%; padding: 0px 16px 0px 0px;
    color: var(--color-black);
    white-space: nowrap;
    text-overflow: ellipsis;
}
